* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MiFuente';
    src: url('../Font/Lato/Lato-Regular.ttf') format('truetype');
}

/* Header */

header {
    font-family: 'MiFuente', Arial, sans-serif;
    background-color: #ffe0b6;
}

nav > ul >li {
    display: inline-block;
    gap: 1rem;
}

body {
    font-family: 'MiFuente', Arial, sans-serif;
    background-color: #fff5e6;
}